<!DOCTYPE html>
<html>
<head>
  <title>TicketsTogether</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |name, msg| %>
    <div id="flash_<%= name %>">
        <%= msg %>
    </div>
<% end%>

<% unless current_user %>
    <%= link_to "Join", new_user_path %>
    or 
    <%= link_to "Log in", new_session_path %>
<% else %>
    Logged in as <%= current_user.email %>.
    <%= link_to "Log out", log_out_path %>
<% end %>
<%= yield %>

</body>
</html>
